@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');


:root{
    /* Font Color */
    --nav-bar-grey: #3f4957;
    --cool-gray: #ADB5BD;
    --French-Gray: #6C757D;
    --Neutral-grey: #E9ECEF;
    --Black-Tint: #343A40;
    --white: white;
  
  
    
  
  
  
    /* Font Color */
    
    /* Gradient Color */
    --grey-tint: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    /* Gradient Color */
    
    /* Theme Font Family */
    --Audiowide:'Audiowide',cursive;
    --Ubuntu:'Ubuntu',cursive;
    --Roboto:'Roboto',cursive;
    --Nunito:'Nunito Sans',cursive;
    --Abel:'Abel',cursive;
    --saria: 'Saira Condensed', cursive;
    /* Theme Font Family */
    
  
  }

  body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--saria);
    font-weight: 800;
  }
  
  .navbar-brand{
    font-family: var(--Audiowide);
    color: var(--Black-Tint);
    font-size: 1.6rem;
}

.navbar-nav{
    padding-left: 2.5rem;
    font-family: var(--Nunito);
    color: var(--Neutral-grey);
    
}

.navbar-nav li a:hover{
    color: var(--white) !important;
    background-color: var(--Black-Tint) !important;
    background-size: 1.5rem;
    height: 40px;
}


/** x nav bar x **/

.btn{
  background: var(--French-Gray);
  color: var(--white);
  border-radius: 1.5rem;
  border: none;
}

.btn:hover{
  background: transparent;
  color: var(--Black-Tint);
  border: none;
}

/* cart styles */

.product-area {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin: auto;
}

.cart-heading {
  font-size: 2rem;
  margin: 1rem;
}

.cart-items {
  width: 40%;
  margin: auto;
  padding: 1rem 0;
}

.item {
  display: flex;
  justify-content: space-evenly;
}

.remove i {
  margin-left: 4rem;
  cursor: pointer;
  font-size: 2rem;
  color: var(--background-color);
}

.remove i:hover {
  color: var(--hover-color);
}

.cart-pict {
  width: 100px;
  
}
.cart-pict img {
  width: 100%;
  height:80px;
  object-fit: cover;
}

.qty {
  display: flex;
}
.price p {
  font-size: 1.4rem;
  font-weight: 800;
}
.qty span {
  margin: 0 1rem;
  font-size: 1.4rem;
}
.fa-minus-circle,
.fa-plus {
  font-size: 1.4rem;
  color: var(--background-color);
}
hr {
  height: 3px;
  background: var(--background-color);
}

.hr {
  width: 40%;
  margin: auto;
  height: 3px;
  background: var(--background-color);
}

.remove i {
  font-size: 1rem;
  margin: 1rem;
  padding: 0 0.6rem;
}

.named-pic{
  font-size:2rem;
}
.right{
  padding:0 4rem;
}
.headings{
  display:flex;
 justify-content: space-evenly;
}

.cart-heading{
  margin-left:5rem;
  font-size: 1.5rem;
}
.total {
  text-align: center;
  font-size: 2rem;
}

.totals{
  font-size:1.2rem;
  font-weight: 800;
}

.calc-total{
font-size:1.8rem;
color:var(--background-color);
}

@media (max-width: 998px) {
  .cart-items,
  .product-area,
  .hr {
    width: 100%;
  }
}


















/** Styling For Cart Header **/



  .cart-text .cart-col{
      position: absolute;
      top: 1.5rem;
      font-family: var(--Ubuntu);
      color: var(--Neutral-grey);
      background-color: var(--French-Gray) !important;



}
  
  /** x  Styling For Cart Header x **/
  .cart-cont{
    padding-top: 5rem;
  }
  

  .cart-pro-img{
    min-width: 200px;
    min-height: 200px;
  }

.set-quantity{
  position: relative;
}
.set-quantity::after{
  width: auto;
  height: auto;
  text-align: center;
  position: absolute;
}

.page-item input{
  width: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-link:focus{
  box-shadow: none;

}

.removebtn{
  border: none;
  border-radius: 2rem;
  background: var(--French-Gray);
  color: var(--white);
}

.removebtn:hover{
  border: none;
  border-radius: 2rem;
  background: transparent;
  color: var(--Black-Tint);
}
.wishlistbtn{
  border: none;
  border-radius: 2rem;
  background: var(--French-Gray);
  color: var(--white);
}

.wishlistbtn:hover{
  border: none;
  border-radius: 2rem;
  background: transparent;
  color: var(--Black-Tint);
}

  /** x  Styling For Cart Items x **/

  
